@model SchoolManagementSystemMVC.Models.UserGroupModel

@{
    ViewBag.Title = "Edit";
}
@section TitleSection{
<h2 style="margin:20px 0px; color:#818da1; font-weight:200;">
    <i class="fa fa-edit"></i>
    Edit User Group
</h2>
    }

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-12">
            @{
    string msg = TempData["successMsg"] as string;
    string Errmsg = TempData["ErrorMsg"] as string;
    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-success">
            @msg
        </div>
    }
    if (!string.IsNullOrEmpty(Errmsg))
    {
        <div class="alert alert-warning">
            @Errmsg
        </div>
    }
            }

            @Html.ValidationMessageFor(userGroup => userGroup.groupName)
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-edit"></i>
                       Edit User Group
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        @Html.HiddenFor(userGroup => userGroup.groupId)
                                        <b> Group Name :</b>
                                    </label>
                                    <div>
                                        @Html.TextBoxFor(userGroup => userGroup.groupName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(userGroup => userGroup.groupName, "*")
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">
                                        <b> Description :</b>
                                    </label>
                                    <div>
                                        @Html.TextBoxFor(userGroup => userGroup.groupDesc, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <input type="submit" value="Update" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}