@model SchoolManagementSystem.Models.SubjectModel

@{
    ViewBag.Title = "edit";
}
@section TitleSection{
    <div class="col-md-12">
        <h2 style="margin: 20px 0px; color: #818da1; font-weight: 200;">
            <i class="fa fa-edit"></i> Update Subject
        </h2>
    </div>
}
@using (@Html.BeginForm("edit", "subject", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @{
    string msg = TempData["successMsg"] as string;
    string Errmsg = TempData["ErrorMsg"] as string;
    if (!string.IsNullOrEmpty(msg))
    {
        <div class="alert alert-success">
            @msg
        </div>
    }
    if (!string.IsNullOrEmpty(Errmsg))
    {
        <div class="alert alert-danger">
            @Errmsg
        </div>
    }
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-edit"></i>
                        Update Subject
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Name :
                                    </label>
                                    <div>
                                        @Html.HiddenFor(subject => subject.subjectId)
                                        @Html.TextBoxFor(subject => subject.subjectName, new {@class = "form-control", required = "required"})
                                        @Html.ValidationMessageFor(subject => subject.subjectName, "*")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Class :
                                    </label>
                                    <div>
                                        @Html.DropDownListFor(subject => subject.SelectedClassId, Model.ClassList, "--Selelct Class--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(subject => subject.SelectedClassId, "*")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Teacher :
                                    </label>
                                    <div>
                                        @Html.DropDownListFor(subject => subject.selectedTeacherId, Model.teacherList, "--Select Teacher--", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(subject => subject.selectedTeacherId, "*")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <input type="submit" value="Update Subject" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

